<h2><%= order_link %></h2>
<script>
  function submit_calculate() {
    document.getElementById("place_order_form").action = '<%= order_calculate_path %>';
    document.getElementById("place_order_form").submit();
  }
  function submit_order() {
    document.getElementById("place_order_form").action = '<%= place_order_path %>';
    document.getElementById("place_order_form").submit();
  }
</script>
<%= form_tag("", method: :post, id: 'place_order_form') do -%>
<table>
  <tr><td colspan="2" class="thead"><%= Time.now.to_s(:db) %></td></tr>
  <tr>
    <td><%= t(:order_level) %>：</td>
    <td align="center"><%= "#{@btc_level}% (#{@btc_amount})" %></td>
  </tr>
  <tr>
    <td><%= t(:order_usdt) %>：</td>
    <td align="center"><%= "#{@usdt_amount}U (¥#{@cny_amount})" %></td>
  </tr>
  <tr>
    <td><%= t(:deal_record_deal_type) %>：</td>
    <td align="center"><%= select_order_type(@deal_type) %></td>
  </tr>
  <tr>
    <td><%= t(:deal_record_symbol) %>：</td>
    <td><%= text_field_tag(:symbol, 'btcusdt', disabled: 'disabled') %></td>
  </tr>
  <tr>
    <td><%= link_to t(:order_price), {controller: :main, action: :kline_chart}, {target: :blank} %>：</td>
    <td><%= text_field_tag(:price, @price, onclick: select_all) %></td>
  </tr>
  <tr>
    <td><%= t(:order_amount) %>：</td>
    <td><%= text_field_tag(:amount, @amount) %></td>
  </tr>
  <tr>
    <td colspan="2" align="right" class="tfoot">
      <%= button_tag( t(:order_calculate), type: 'button', id: 'calculate_button', onclick: 'submit_calculate()' ) %>&nbsp;&nbsp;&nbsp;
      <%= button_tag( t(:place_order_to_huobi), type: 'button', id: 'submit_button', onclick: 'submit_order()' ) %>
    </td>
  </tr>
</table>
<% end -%>
<br/>
<%= link_back_to_deal_records %>
| <%= update_btc_exchange_rates_link %>
