<h2><%= order_link %></h2>
<script>
  function submit_calculate() {
    document.getElementById("place_order_form").action = '<%= order_calculate_path %>';
    document.getElementById("place_order_form").submit();
  }
  function submit_order() {
    document.getElementById("place_order_form").action = '<%= place_order_path %>';
    document.getElementById("place_order_form").submit();
  }
</script>
<%= form_tag("", method: :post, id: 'place_order_form') do -%>
<%= hidden_field_tag 'deal_record_id', @deal_record_id %>
<table>
  <tr><td colspan="2" class="thead"><%= Time.now.to_s(:db) %></td></tr>
  <tr>
    <td><%= t(:order_level) %>：</td>
    <td align="center"><u class="su"><%= "#{@btc_level}% (#{@btc_amount})" %></u></td>
  </tr>
  <tr>
    <td><%= t(:order_usdt) %>：</td>
    <td align="center"><u class="du"><%= "#{@usdt_amount}U (¥#{@cny_amount})" %></u></td>
  </tr>
  <tr>
    <td><%= t(:usdt_trade) %>：</td>
    <td align="center"><u class="su"><%= @usdt_available %>(<%= to_n((@usdt_available.to_f-@usdt_amount.to_f).abs,1)%>) U</u></td>
  </tr>
  <tr>
    <td><%= t(:usdt_trade) %>：</td>
    <td align="center"><u class="du"><%= @btc_available %> BTC</u></td>
  </tr>
  <tr>
    <td><%= t(:ave_cost) %>：</td>
    <td align="center"><%= @ave_cost %> USDT</td>
  </tr>
  <tr>
    <td><%= t(:profit_now) %>：</td>
    <td align="center"><%= @profit_cny %> CNY</td>
  </tr>
  <tr>
    <td><%= t(:deal_record_deal_type) %>：</td>
    <td align="center"><%= select_order_type(@deal_type) %></td>
  </tr>
  <tr>
    <td><%= t(:deal_record_symbol) %>：</td>
    <td><%= text_field_tag(:symbol, 'btcusdt', disabled: 'disabled') %></td>
  </tr>
  <tr>
    <td><%= link_to t(:order_price), {controller: :main, action: :kline_chart}, {target: :blank} %>：</td>
    <td><%= text_field_tag(:price, @price) %></td>
  </tr>
  <tr>
    <td><%= t(:order_amount) %>：</td>
    <td><%= text_field_tag(:amount, @amount) %></td>
  </tr>
  <tr>
    <td>额度：</td>
    <td><%= to_n(@price*@amount)+' USDT' if @price and @amount %></td>
  </tr>
  <tr>
    <td colspan="2" align="right" class="tfoot">
      <%= button_tag( t(:order_calculate), type: 'button', id: 'calculate_button', onclick: 'submit_calculate()' ) %>&nbsp;&nbsp;&nbsp;
      <%= button_tag( t(:place_order_to_huobi), type: 'button', id: 'submit_button', onclick: 'submit_order()' ) %>
    </td>
  </tr>
</table>
<% end -%>
<br/>
<%= link_back_to_deal_records %>
| <%= link_back_to_open_orders %>
| <%= update_btc_exchange_rates_link %>
<p>
