<h2><%= t(:set_auto_invest_params) %></h2>
<%= form_tag set_auto_invest_params_path, method: :post, id: 'set_auto_invest_form' do %>
  <% n = 0 %>
  <table width="<%=$default_table_width%>">
    <tr>
      <td><%= n %></td>
      <td width="163">每隔几秒自动执行一次</td>
      <% every_sec = get_invest_params(0) %>
      <td><span class="invest_param_select"><%= every_sec %></span> <%= invest_params_setup_link(0,600,5700,300,0,every_sec) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>多少价位以下执行买入</td>
      <td><%= invest_params_setup_link(1,7300,9000,100) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>跌破多少价位停止买入</td>
      <td><%= invest_params_setup_link(2,6300,8000,100) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>原有参与投资的泰达币</td>
      <td><%= invest_params_setup_link(3,200,3800,200) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td valign="top"><%= n %></td>
      <td valign="top">单笔买入价格调整参数</td>
      <td><%= invest_params_setup_link(4,0.01,1.0,0.01,2) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>自动买入的最大仓位值</td>
      <td><%= invest_params_setup_link(5,5,100,5) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>买入比特币的最大总值</td>
      <td><%= invest_params_setup_link(6,0.1,2.7,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>单笔买入泰达币最小值</td>
      <td><%= invest_params_setup_link(7,1.0,3.6,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>单笔买入泰达币最大率</td>
      <td><%= invest_params_setup_link(8,0.01,0.2,0.01,2) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>更新交易列表记录日期</td>
      <td></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>更新交易列表记录时间</td>
      <td></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>用于测试的比特币价格</td>
      <td><%= invest_params_setup_link(11,0,9000,500) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>单次获利人民币目标值</td>
      <td><%= invest_params_setup_link(12,0,140,5) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>单次获利最多卖出笔数</td>
      <td><%= invest_params_setup_link(13,0,36,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>时间间隔的倍数最小值</td>
      <td><%= invest_params_setup_link(14,0.1,2.7,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>时间间隔的倍数最大值</td>
      <td><%= invest_params_setup_link(15,1.0,3.6,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>每几秒钟侦测参数变化</td>
      <td><%= invest_params_setup_link(16,1,35,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td valign="top"><%= n %></td>
      <td valign="top">监控几分钟内的最低价</td>
      <td><%= invest_params_setup_link(17,2,198,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>上一个参数的微调参数</td>
      <td><%= invest_params_setup_link(18,0,2.6,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>是否强制执行停损卖出</td>
      <td><%= invest_params_setup_link(19,0,1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr>
      <td><%= n %></td>
      <td>触底反弹买进的索引值</td>
      <td><%= invest_params_setup_link(20,0,-27,-1) %></td>
      <% n += 1 %>
    </tr>
  </table>
  <p>
  <div id="params_input" style="width:<%=$default_table_width%>px">
    <span id="auto_invest_params_span">
      <%= text_field_tag :auto_invest_params, @invest_params_value %>
    </span>
    <%= submit_tag t(:save_auto_invest_params), style: 'font-size: 1.2em' %>
  </div>
<% end %>
<p/>
