<%
rate = 0.1
start_price = (@price_now*(1-rate)).to_i/100*100
end_price = @price_now*(1+rate)
price_step = 10
%>
<h2><%= t(:set_auto_invest_params) %></h2>
<%= form_tag set_auto_invest_params_path, method: :post, id: 'set_auto_invest_form' do %>
  <% n = 0 %>
  <table width="<%=$default_table_width%>">
    <tr valign="top">
      <td><%= n %></td>
      <td width="163">每隔几秒自动买入一次</td>
      <td><%= show_invest_param_value(0) %> <%= invest_params_setup_link(0,0,3600*2,300) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>多少价位以下执行买入</td>
      <td><%= show_invest_param_value(1) %> <%= invest_params_setup_link(1,start_price,end_price,price_step) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>跌破多少价位停止买入</td>
      <td><%= show_invest_param_value(2) %> <%= invest_params_setup_link(2,start_price,end_price,price_step) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>原有参与投资的泰达币</td>
      <td><%= show_invest_param_value(3) %> <%= invest_params_setup_link(3,100,5000,100) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>单笔买入价格调整参数</td>
      <td><%= show_invest_param_value(4) %> <%= invest_params_setup_link(4,0.1,15.0,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>自动买入的最大仓位值</td>
      <td><%= show_invest_param_value(5) %> <%= invest_params_setup_link(5,0,100,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>买入比特币的最大总值</td>
      <td><%= show_invest_param_value(6) %> <%= invest_params_setup_link(6,1,10) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>单笔买入泰达币最小值</td>
      <td><%= invest_params_setup_link(7,5.2,11.0,0.2,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>单笔买入泰达币最大率</td>
      <td><%= invest_params_setup_link(8,1,20) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>更新交易列表记录日期</td>
      <td><%= show_invest_param_value(9) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>更新交易列表记录时间</td>
      <td><%= show_invest_param_value(10) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>用于测试的比特币价格</td>
      <% rate_param = 0.03 %>
      <td><%= show_invest_param_value(11) %> <%= invest_params_setup_link(11,(@price_now*(1-rate_param)).to_i/100*100,@price_now*(1+rate_param),5) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>单次卖出的最低获利值</td>
      <td><%= show_invest_param_value(12) %> <%= invest_params_setup_link(12,1,500,10,0,true) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>单次获利最多卖出笔数</td>
      <td><%= invest_params_setup_link(13,0,40,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>时间间隔的倍数最小值</td>
      <td><%= invest_params_setup_link(14,0.1,2.7,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>时间间隔的倍数最大值</td>
      <td><%= invest_params_setup_link(15,1.0,3.6,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>每几秒钟侦测参数变化</td>
      <td><%= invest_params_setup_link(16,1,30,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>买入几分钟内的最低价</td>
      <td><%= show_invest_param_value(17) %> <%= invest_params_setup_link(17,0,480,5) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>卖出几分钟内的最高价</td>
      <td><%= show_invest_param_value(18) %> <%= invest_params_setup_link(18,0,480,5) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>仓位越高买入周期越长</td>
      <td><%= show_invest_param_value(19) %> <%= invest_params_setup_link(19,0,1.0,0.1,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>是否强制执行停损卖出</td>
      <td><%= show_invest_param_value(20) %> <%= invest_params_setup_link(20,0,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>触底反弹买进的索引值</td>
      <td><%= show_invest_param_value(21) %> <%= invest_params_setup_link(21,0,-27,-1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>每隔几秒自动卖出一次</td>
      <td><%= show_invest_param_value(22) %> <%= invest_params_setup_link(22,0,3600*2,300) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>赎回多少本金停止卖出</td>
      <td>此功能已废弃</td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>API账号代码</td>
      <td><%= invest_params_setup_link(24,135,170,5) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>交易列表上的交易总额</td>
      <td><%= show_invest_param_value(25) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>交易列表的比特币总数</td>
      <td><%= show_invest_param_value(26) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>多少价位执行强制卖出</td>
      <td><%= show_invest_param_value(27) %> <%= invest_params_setup_link(27,start_price,end_price,price_step,0,true) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td title="<%= "全部累计已实现损益:未实现获利:\n平均每秒已实现获利:近期累计已实现获利:\n冷钱包总成本:冷钱包总数量" %>">交易列表的已实现损益</td>
      <td><%= show_invest_param_value(28) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top" class="set_aif_bg">
      <td><%= n %></td>
      <td>停止自动卖出的仓位值</td>
      <td><%= show_invest_param_value(29) %> <%= invest_params_setup_link(29,0,100,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>是否强制执行买入操作</td>
      <td><%= show_invest_param_value(30) %> <%= invest_params_setup_link(30,0,1) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>买入最低价时的最高价</td>
      <td><%= show_invest_param_value(31) %> <%= invest_params_setup_link(31,start_price,end_price,price_step,0,true) %></td>
      <% n += 1 %>
    </tr>
    <tr valign="top">
      <td><%= n %></td>
      <td>成本均价是否越买越低</td>
      <td><%= show_invest_param_value(32) %> <%= invest_params_setup_link(32,0,1) %></td>
      <% n += 1 %>
    </tr>
  </table>
  <p>
  <div id="params_input" style="width:<%=$default_table_width%>px">
    <span id="auto_invest_params_span">
      <%= text_field_tag :auto_invest_params, @invest_params_value %>
    </span>
    <%= submit_tag t(:save_auto_invest_params), style: 'font-size: 1.2em' %>
  </div>
<% end %>
<p/>
