<%
def cal_btc_capital
  @btc_capital = (@btc_price*@btc_amount*$usdt_to_cny).to_i
end

def btc_capital_twd
  (@btc_capital*@cny2twd).to_i
end
%>
<h2><%= t(:trial_list) %></h2>
<table width="<%=$default_table_width%>">
  <tr class="thead">
    <td><%= t(:myage)%></td>
    <td><%= t(:date_diff)%></td>
    <td><%= t(:date)%></td>
    <td><%= t(:begin_price)%></td>
    <td><%= t(:begin_amount)%></td>
    <td><%= t(:month_cost)%></td>
    <td><%= t(:month_sell)%></td>
    <td><%= t(:begin_balance)%></td>
    <td><%= t(:exchange_to_twd)%></td>
    <td><%= t(:month_grow_rate)%></td>
    <td><%= t(:end_price)%></td>
    <td><%= t(:end_balance)%></td>
    <td><%= t(:exchange_to_twd)%></td>
  </tr>
  <% cal_btc_capital %>
  <% birthday = "1974-12-02".to_date %>
  <% (0..12*$trial_total_years).each do |n| %>
    <tr <%= change_row_color %>>
      <% this_date = Date.today.at_beginning_of_month+n.month %>
      <% month_sell = @month_cost/@usdt2cny/@btc_price %>
      <td align="center"><%= (((this_date-birthday).to_i)/365).to_i %></td>
      <td align="center"><%= (this_date - Date.today).to_i %></td>
      <td align="center"><%= to_d(this_date,true) %></td>
      <td align="right">$<%= to_n(@btc_price,0) %></td>
      <td align="right"><%= to_n(@btc_amount,8) %></td>
      <td align="right">
        <% if this_date > @month_cost_start %>
          <span title="<%=to_n(@month_cost*@cny2twd,0)%>"><%='¥'+to_n(@month_cost,0)%></span>
        <% end %>
      </td>
      <td align="right"><%= to_n(month_sell,6) if this_date > @month_cost_start %></td>
      <td align="right">¥<%= @btc_capital = @btc_capital - @month_cost %></td>
      <td align="right"><%= btc_capital_twd %></td>
      <td align="right"><%= to_n($trial_btc_month_grow_rate*100) %>%</td>
      <% @btc_amount -= month_sell if this_date > @month_cost_start %>
      <% @btc_price = @btc_price.to_f * (1+$trial_btc_month_grow_rate) %>
      <% @btc_price = $trial_btc_max_price if @btc_price > $trial_btc_max_price %>
      <% @month_cost = (@month_cost.to_f * (1+$trial_cost_month_grow_rate)).to_i %>
      <td align="right">$<%= to_n(@btc_price,0) %></td>
      <td align="right">¥<%= cal_btc_capital %></td>
      <td align="right"><%= btc_capital_twd %></td>
    </tr>
  <% end %>
</table>
<p>
