<h2><%= t(:order_list) %></h2>
<table>
  <tr class="thead">
    <td width="15"></td>
    <td><%= t(:open_order_created) %></td>
    <td><%= t(:open_order_id) %></td>
    <td><%= t(:open_order_symbol) %></td>
    <td><%= t(:open_order_price) %></td>
    <td><%= t(:open_order_amount) %></td>
    <td><%= "USDT" %></td>
    <td><%= t(:open_order_type) %></td>
    <td></td>
  </tr>
<% n = 1 %>
<% @open_orders.each do |oo| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= to_t(oo.created_at,true) %></td>
    <td><%= oo.order_id %></td>
    <td><%= oo.symbol.upcase %></td>
    <td><%= oo.price %></td>
    <td><%= oo.amount %></td>
    <td align="right"><%= to_n(oo.price*oo.amount,2,round:true) %></td>
    <td><%= oo.order_type %></td>
    <td><%= link_to t(:delete_open_order), delete_open_order_path(oo) %></td>
  </tr>
<% end %>
</table>
<br/>
<%= set_auto_invest_form_link %>
| <%= system_params_form_link %>
| <%= clear_invest_log_link %>
| <%= test_huobi_link %>
| <%= order_link %>
| <%= check_open_orders_link %>
| <%= clear_open_orders_link %>
| <%= update_btc_huobi_portfolios_link %>
<%= save_kdata_link %>
<p/></p>
