<%
# 单次卖出的最低获利值
@profit_goal = get_invest_params(12).to_i
# 单次获利最多卖出笔数
@max_sell_count = get_invest_params(13).to_i
# 卖出几分钟内的最高价
@sell_minute = get_invest_params(18).to_i
# 每隔几秒自动卖出一次
@sell_sec = get_invest_params(22).to_i
# 多少价位执行强制卖出
@sell_price = get_invest_params(27).to_i
# 停止自动卖出的仓位值
@stop_sell_level = get_invest_params(29).to_i
# 最初第几笔未卖出交易记录的损益值
@top_deal_record_profit = DealRecord.top_n_profit(@max_sell_count).floor(1)
# 获取未卖出且标示为优先卖出的交易笔数
@first_unsell_count = DealRecord.first_unsell_count
# 所有未卖记录的笔数
@total_unsell_count = DealRecord.unsell_count
# 是否已经达到可以再次卖出的时间
@enable_to_sell = DealRecord.enable_to_sell?
# 目前剩余的交易记录还能卖出几个小时
@remain_sell_hours = @max_sell_count > 0 ? \
  to_n(@total_unsell_count/@max_sell_count*@sell_sec/3600.0,1) : 0
# 显示卖出策略的卖出价格
@show_sell_price = @sell_price > 0 ? \
  "#{@sell_price}(#{add_plus(to_n((@sell_price/@total_ave_cost_price.to_f-1)*100,1))}%)" : "#{@sell_minute}分最高价"
# 显示卖出策略的辅助说明文字
@title = "①下次卖出的盈亏 ②自动卖出的盈亏\n③每次卖几笔 ④几笔标示为优先卖出\n⑤全部未卖的笔数⑥停止自动卖出的仓位值"
# 如果设定了单次卖出的最低获利值则需要列入考虑才能决定是否达到了可卖出下一笔的条件
if @profit_goal > 0 and @top_deal_record_profit > @profit_goal
  @profit_goal_ok = true
elsif @profit_goal == 0
  @profit_goal_ok = true
else
  @profit_goal_ok = false
end

# 建立卖出策略的文字讯息
def build_show_sell_text( add_u_tag = false )
  sell_price_str = add_u_tag ? "<u>#{@show_sell_price}</u>" : @show_sell_price
  raw(t(:send_stop_loss)+\
  "[<span title='#{@title}'>#{@top_deal_record_profit}/#{@profit_goal\
  }|#{@max_sell_count}/#{@first_unsell_count}|#{@total_unsell_count\
  }/#{@stop_sell_level}</span>]\
    @#{sell_price_str}/#{@sell_sec/60}分") # /#{@remain_sell_hours}时
end

# 显示未成交笔数
def show_total_unsell_count
  "(#{@total_unsell_count})"
end
%>
<div id="func_link" style="width:<%=$default_table_width%>px;margin-bottom:2em">
  <%
    # 如果有未交易记录并且单次获利最多卖出笔数大于零则显示卖出策略文字
    if @total_unsell_count > 0 and @max_sell_count > 0
      # 如果达到了可卖出的条件则显示文字加上强制卖出的链接否则显示文字即可
      show_sell = (@enable_to_sell and @profit_goal_ok) ? \
        link_to(build_show_sell_text(true),send_stop_loss_path) : build_show_sell_text
  %>
    <% # 显示卖出策略文字与链接 %>
    <%= show_sell %> |
  <% end %>
  <% # 与资产更新相关的链接 %>
  <%= update_btc_huobi_portfolios_link %>
  <% # 更新汇率的链接 %>
  <%= update_all_exchange_rates_link %>
  <% # 更新交易记录 %>
  | <%= link_to t(:update_deal_record), update_deal_records_path, { id: 'update_deal_records' } %>
  <% # 卖出记录 %>
  | <%= link_to t(:show_sell_deal_records), deal_records_path(show_sell:1) %>
  <% # 全部未卖 %>
  | <%= link_to t(:show_unsell_deal_records), deal_records_path(show_unsell:1) %>
    <%= show_total_unsell_count if not @max_sell_count > 0 %>
  <% # 优卖记录 %>
  | <%= link_to t(:show_first_sell_deal_records), deal_records_path(show_first:1) %>
  <% # 凑消帐 %>
  | <%= link_to t(:make_balance_count), deal_records_path(make_balance_count:1) %>
  <% # 消帐记录 %>
  | <%= link_to t(:make_balance_records), deal_records_path(show_balance:1) %>
  <% # 凑钱包 %>
  | <%= link_to t(:make_trezor_count), deal_records_path(make_trezor_count:1) %>
  <% # 钱包记录 %>
  | <%= link_to t(:trezor_records), deal_records_path(show_trezor:1) %>
  <% # 全部记录 %>
  | <%= link_to t(:show_all_deal_records), deal_records_path(show_all:1) %>
</div>
