<h2><%= t(:deal_record_index) %></h2>
<table>
  <tr class="thead">
    <td width="15"></td>
    <td><%= t(:deal_record_account) %></td>
    <td><%= t(:deal_record_data_id) %></td>
    <td><%= t(:deal_record_price) %></td>
    <td><%= t(:deal_record_amount) %></td>
    <td><%= t(:exchange_to_cny) %></td>
    <td><%= t(:now_to_cny) %></td>
    <td><%= t(:earn_or_loss) %></td>
    <td><%= t(:profit_p) %></td>
    <td><%= t(:deal_record_earn_limit) %></td>
    <td><%= t(:deal_record_earn_short) %></td>
    <td><%= t(:deal_record_order_id) %></td>
    <td><%= t(:deal_record_real_profit) %></td>
  </tr>
<% n = 1 %>
<% if !@deal_records.empty? then price_now = @deal_records.first.price_now end %>
<% total_price = total_amount = total_cny_amount = total_cny_amount_now = \
   total_earn_or_loss = total_earn_limit = total_real_profit = 0 %>
<% @deal_records.each do |dr| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td align="center"><%= dr.account %></td>
    <td><%= link_edit_to(dr,dr.data_id.to_s[-7..-1]) %></td>
    <td align="right"><%= price = to_n(dr.price) %></td>
    <td align="right"><%= amount = to_n(dr.amount,6) %></td>
    <td align="right"><%= cny_amount = to_n(dr.cny_amount,2) if !dr.real_profit %></td>
    <td align="right"><%= cny_amount_now = dr.cny_amount_now if !dr.real_profit%></td>
    <td align="right"><%= earn_or_loss = dr.earn_or_loss if !dr.real_profit %></td>
    <td align="right"><%= profit = to_n(earn_or_loss.to_f/cny_amount.to_f*100) if !dr.real_profit %></td>
    <td align="right"><%= earn_limit = dr.earn_limit if !dr.real_profit and dr.earn_limit > 0 %></td>
  <% if !dr.real_profit and (!dr.order_id or dr.order_id.empty?) %>
    <% earn_limit_price = dr.earn_limit_price %>
    <td align="right" <%= if_red_bg(price_now,earn_limit_price) %>>
      <%= huobi_order_link(earn_limit_price,dr,'earn') %>
    </td>
  <% else %>
    <td/>
  <% end %>
    <td align="right"><%= look_order_link(dr) %></td>
    <td align="right"><%= real_profit = to_n(dr.real_profit,4) if dr.real_profit %></td>
  </tr>
  <% n += 1 %>
  <% total_price += price.to_f * amount.to_f
     total_amount += amount.to_f
     total_cny_amount += cny_amount.to_f if !dr.real_profit
     total_cny_amount_now += cny_amount_now.to_f if !dr.real_profit
     total_earn_or_loss += earn_or_loss.to_f if !dr.real_profit
     total_earn_limit += earn_limit.to_i if !dr.real_profit
     total_real_profit += real_profit.to_f if dr.real_profit
  %>
<% end %>
  <tr class="thead">
    <td colspan="3">
      <%= t(:price_now) %>: <%= to_n(price_now) if !@deal_records.empty? %>
    </td>
    <td align="right"><%= to_n(total_price/total_amount) if total_amount > 0 %></td>
    <td align="right"><%= to_n(total_amount,6) %></td>
    <td align="right"><%= to_n(total_cny_amount) %></td>
    <td align="right"><%= to_n(total_cny_amount_now) %></td>
    <td align="right"><%= to_n(total_earn_or_loss) %></td>
    <td align="right"><%= to_n(total_earn_or_loss.to_f/total_cny_amount.to_f*100) %></td>
    <td align="right"><%= to_n(total_earn_limit,0) %></td>
    <td colspan="3" align="right"><%= to_n(total_real_profit,4) %></td>
  </tr>
</table>
<br/>
<%= link_back_to_portfolios %>
| <%= update_huobi_assets_link %>
| <%= update_huobi_records_link %>
| <%= link_to t(:new_deal_record), new_deal_record_path, { id: 'add_new_deal_record' } %>
| <%= link_to t(:clear_deal_records), clear_deal_records_path, { id: 'clear_deal_records' } %>
<p/></p>
