<% eq_btc, btc_p = Property.invest_to_btc( admin? ) %>
<h2><%= link_to t(:deal_record_index), deal_records_path %> (<%= eq_btc %> BTC <%= btc_p.floor(1) %>%)</h2>
<table width="<%=$default_table_width%>">
  <tr class="thead">
    <td width="15"></td>
    <td width="160"><%= t(:deal_record_created) %></td>
    <td><%= t(:deal_record_price) %></td>
    <td width="45"><%= t(:earn_or_loss) %></td>
    <td width="45"><%= t(:profit_p) %></td>
    <td><%= t(:deal_record_amount) %></td>
    <td><%= t(:exchange_to_cny) %></td>
    <td><%= t(:now_to_cny) %></td>
    <td><%= t(:updated_time) %></td>
    <td><%= t(:deal_record_real_profit) %>(<%= admin? ? DealRecord.uncombined_real_profit : (DealRecord.uncombined_real_profit*$net_profit_discount).to_i %>)</td>
  </tr>
<% n = 1 %>
<% price_now = DealRecord.first.price_now if DealRecord.first %>
<%
total_price = total_amount = total_cny_amount = total_cny_amount_now =  total_earn_or_loss = total_earn_limit = total_real_profit = 0
btc_hold = DealRecord.btc_amount
%>
<% @deal_records.each do |dr| %>
  <% if n <= $deal_records_limit or params[:show_all] or params[:show_sell] %>
    <tr <%= change_row_color %>>
      <td align="right"><%= n %></td>
      <td align="center"><%= link_edit_to(dr,to_t(dr.created_at,true)) %></td>
      <td align="right"><%= price = to_n(dr.price) %></td>
      <td align="right"><%= earn_or_loss = dr.earn_or_loss if !dr.real_profit %></td>
      <% cny_amount = to_n(dr.cny_amount,1) %>
      <td align="right"><%= profit = to_n(earn_or_loss.to_f/cny_amount.to_f*100) if !dr.real_profit %></td>
      <td align="right"><%= amount = to_n(dr.amount,6) %></td>
      <td align="right"><%= cny_amount %></td>
      <%
        if !dr.real_profit
          cny_amount_now = to_n(dr.cny_amount_now,1)
        else
          cny_amount_now = to_n(cny_amount.to_f + dr.real_profit.to_f,1)
        end
      %>
      <td align="right"><%= cny_amount_now %></td>
      <% earn_limit_price = dr.earn_limit_price %>
      <% updated_at_str = to_time(dr.updated_at) %>
      <td align="right">
        <% if !dr.real_profit and (!dr.order_id or dr.order_id.empty?) %>
          <%= huobi_order_link(updated_at_str,dr,'earn') %>
        <% else %>
          <%= updated_at_str %>
        <% end %>
      </td>
      <td align="right"><%= real_profit = to_n(dr.real_profit,4) if dr.real_profit %></td>
    </tr>
  <%
    else
      price = to_n(dr.price)
      amount = to_n(dr.amount,6)
      cny_amount = to_n(dr.cny_amount,2) if !dr.real_profit
      cny_amount_now = dr.cny_amount_now if !dr.real_profit
      earn_or_loss = dr.earn_or_loss if !dr.real_profit
      profit = to_n(earn_or_loss.to_f/cny_amount.to_f*100) if !dr.real_profit
      earn_limit = to_n(dr.earn_limit,3) if !dr.real_profit and dr.earn_limit > 0
      real_profit = to_n(dr.real_profit,4) if dr.real_profit
     end
  %>
  <% n += 1 %>
  <% total_price += price.to_f * amount.to_f
     total_amount += amount.to_f
     total_cny_amount += cny_amount.to_f if !dr.real_profit
     total_cny_amount_now += cny_amount_now.to_f if !dr.real_profit
     total_earn_or_loss += earn_or_loss.to_f if !dr.real_profit
     total_earn_limit += earn_limit.to_f if !dr.real_profit
     total_real_profit += real_profit.to_f if dr.real_profit
  %>
<% end %>
  <tr class="thead">
    <td colspan="2">
      <%= kline_chart_link(to_n(price_now)) %>
      (<%= to_n(price_now/Property.btc_ave_cost*100,2)%>%)
    </td>
    <td align="right"><%= to_n(DealRecord.ave_cost) if total_amount > 0 %></td>
    <% profit_cny = to_n(DealRecord.profit_cny) %>
    <td align="right"><%= link_to profit_cny, place_order_form_path(sell_all:1) if !params[:show_sell] %></td>
    <td align="right"><%= to_n(profit_cny.to_f/total_cny_amount.to_f*100) if !params[:show_sell] %></td>
    <td align="right"><%= link_to to_n(DealRecord.btc_amount,4), place_order_form_path(sell_all:1) %>
      (<%= to_n(DealRecord.btc_level,1).to_i %>/<%= get_invest_params(5) %>%)
    </td>
    <td align="right"><%= to_n(total_cny_amount,1) if !params[:show_sell] %></td>
    <td align="right"><%= to_n(total_cny_amount_now,1) if !params[:show_sell] %></td>
    <td align="right"><%= show_net_value_link %></td>
    <% total_real_profit = DealRecord.total_real_profit %>
    <% total_net_profit = total_real_profit + profit_cny.to_f %>
    <% date_diff = (Date.today - $trade_start_time.to_date).to_i %>
    <td align="right">
      <span title="累积净损益"><%= to_n(total_net_profit,0) %></span> <span title="净损益平均绩效：人民币/月"><%= to_n(total_net_profit.to_f/date_diff*30.5,0) %></span>/<span title="经过的月数"><%= date_diff/30 %></span>
    </td>
  </tr>
</table>
<br/>
<div id="func_link" style="width:<%=$default_table_width%>px">
  <%= link_to t(:update_deal_record), update_deal_records_path, { id: 'update_deal_records' } %>
  | <%= link_to t(:show_sell_deal_records), deal_records_path(show_sell:1) %>
  | <%= link_to t(:show_all_deal_records), deal_records_path(show_all:1) %>
  | <%= link_to t(:zip_sell_deal_records), zip_sell_records_path %>
  | <%= clear_deal_records_link %>
  <% if max_sell_count = get_invest_params(13).to_i and max_sell_count > 0 and DealRecord.unsell_count > 0 %>
    | <%= link_to t(:send_sell_deal_records)+"(#{@get_max_sell_count}/#{get_unsell_deal_records_count})", send_sell_deal_records_path %> |
    <%= link_to t(:send_stop_loss)+"(#{@get_max_sell_count}/#{@top_deal_record_profit})", send_stop_loss_path %>
  <% end %>
  | <%= sell_to_back_link %>
  <%= update_btc_huobi_portfolios_link %>
</div>
<p/></p>
