<% eq_btc, btc_p, sim_ave_cost, real_ave_cost, price_p, one_btc2cny, total_real_profit, total_unsell_profit = Property.invest_to_btc( admin? ) %>
<h2><%= link_to t(:deal_record_index), deal_records_path %> ( <%= raw "#{eq_btc} <span title=\"每百分点等于#{one_btc2cny.to_i}人民币\">#{to_n(btc_p,1)}%</span> #{real_ave_cost.to_i} #{to_n(price_p)}% #{to_n(Property.btc_legal_ratio,2)}:1 #{total_real_profit} #{total_unsell_profit}" %>)</h2>
<table width="<%=$default_table_width%>">
  <tr class="thead">
    <td width="15"></td>
    <td width="160"><%= t(:deal_record_created) %></td>
    <td><%= t(:deal_record_price) %></td>
    <td width="45"><%= t(:earn_or_loss) %></td>
    <td width="45"><%= t(:profit_p) %></td>
    <td><%= t(:deal_record_amount) %></td>
    <td><%= t(:exchange_to_cny) %></td>
    <td><%= t(:now_to_cny) %></td>
    <td colspan="2">
      <% real_profit_of_24h = DealRecord.real_profit_of_24h.to_i %>
      <% total_real_profit = DealRecord.total_real_profit.to_i %>
      <% cny_to_btc = Currency.new.cny_to_btc %>
      <%= t(:updated_time) %> | <%= t(:deal_record_real_profit) %> ( 24H: <%= real_profit_of_24h %><%= ' '+to_n(real_profit_of_24h*cny_to_btc,6) if real_profit_of_24h > 0 %> | 累计: <%= total_real_profit %><%= ' '+to_n(total_real_profit*cny_to_btc,6) if total_real_profit > 0 %> )</td>
  </tr>
<% n = 1 %>
<% price_now = DealRecord.first.price_now if DealRecord.first %>
<%
total_price = total_amount = total_amount_fee = total_cny_amount = total_cny_amount_now =  total_earn_or_loss = total_earn_limit = total_real_profit = total_real_profit_btc = 0
btc_hold = DealRecord.btc_amount
cny_to_btc = Currency.new.cny_to_btc
%>
<% @deal_records.each do |dr| %>
  <% if n <= $deal_records_limit or params[:show_all] or params[:show_sell] or params[:show_unsell] %>
    <tr <%= change_row_color %>>
      <td align="right"><span <%= raw "class='switch_first_sell'" if dr.first_sell %>><%= link_to n, action: :switch_first_sell, id: dr, show_all: params[:show_all], show_unsell: params[:show_unsell] %></span></td>
      <td align="center"><%= link_edit_to(dr,to_t(dr.created_at,true)) %></td>
      <td align="right"><%= price = to_n(dr.price) %></td>
      <td align="right"><%= earn_or_loss = dr.earn_or_loss if !dr.real_profit %></td>
      <% cny_amount = to_n(dr.cny_amount,1) %>
      <td align="right"><%= profit = to_n(earn_or_loss.to_f/cny_amount.to_f*100) if !dr.real_profit %></td>
      <td align="right"><%= amount = to_n(dr.amount,6) %></td>
      <td align="right"><%= cny_amount %></td>
      <%
        if !dr.real_profit
          cny_amount_now = to_n(dr.cny_amount_now,1)
        else
          cny_amount_now = to_n(cny_amount.to_f + dr.real_profit.to_f,1)
        end
      %>
      <td align="right"><%= cny_amount_now %></td>
      <% earn_limit_price = dr.earn_limit_price %>
      <% updated_at_str = to_time(dr.updated_at) %>
      <td align="right">
        <% if !dr.real_profit and (!dr.order_id or dr.order_id.empty?) %>
          <%= huobi_order_link(updated_at_str,dr,'earn') %>
        <% else %>
          <%= updated_at_str %>
        <% end %>
      </td>
      <td align="right">
       <%
          if dr.auto_sell and dr.real_profit
            if dr.real_profit == 0 # 为转出记录 %>
              <%= link_to t(:set_from_trezor), action: :switch_to_trezor, id: dr, show_all: params[:show_all] %>
       <%   else
              real_profit = to_n(dr.real_profit,2)
              real_profit_btc = to_n(real_profit.to_f*cny_to_btc,8) %>
              <%= look_order_link( dr, real_profit+' '+real_profit_btc ) %>
       <%   end
          else %>
            <%= link_to t(:set_to_trezor), action: :switch_to_trezor, id: dr, show_all: params[:show_all] %>
       <% end %>
      </td>
    </tr>
  <%
    else
      price = to_n(dr.price)
      amount = to_n(dr.amount,6)
      cny_amount = to_n(dr.cny_amount,2) if !dr.real_profit
      cny_amount_now = dr.cny_amount_now if !dr.real_profit
      earn_or_loss = dr.earn_or_loss if !dr.real_profit
      profit = to_n(earn_or_loss.to_f/cny_amount.to_f*100) if !dr.real_profit
      earn_limit = to_n(dr.earn_limit,3) if !dr.real_profit and dr.earn_limit > 0
      real_profit = to_n(dr.real_profit,2) if dr.real_profit
      real_profit_btc = to_n(real_profit.to_f*cny_to_btc,8) if dr.real_profit
     end
  %>
  <% n += 1 %>
  <% total_price += price.to_f * amount.to_f
     total_amount += amount.to_f
     total_amount_fee += amount.to_f * (1.0-$fees_rate)
     total_cny_amount += cny_amount.to_f if !dr.real_profit
     total_cny_amount_now += cny_amount_now.to_f if !dr.real_profit
     total_earn_or_loss += earn_or_loss.to_f if !dr.real_profit
     total_earn_limit += earn_limit.to_f if !dr.real_profit
     total_real_profit += real_profit.to_f if dr.real_profit
     total_real_profit_btc += real_profit_btc.to_f if dr.real_profit
  %>
<% end %>
  <tr class="thead">
    <td colspan="2">
      <%= kline_chart_link(to_n(price_now)) %>
      (<%= to_n(price_now/Property.btc_ave_cost*100,2)%>%)
    </td>
    <td align="right">
      <% # to_n(DealRecord.ave_cost) if total_amount > 0 %>
      <%= to_n(total_price/total_amount) if total_amount > 0 %>
    </td>
    <% profit_cny = to_n(DealRecord.profit_cny) %>
    <td align="right"><%= to_n(total_earn_or_loss) %></td>
    <td align="right"><%= to_n(profit_cny.to_f/total_cny_amount.to_f*100) if !params[:show_sell] %></td>
    <% dr_btc_amount = DealRecord.btc_amount %>
    <% amount_diff = dr_btc_amount - total_amount_fee %>
    <td align="right"><%= link_to "#{to_n(total_amount_fee,2)}/#{to_n(dr_btc_amount,2)}", place_order_form_path(amount:to_n(dr_btc_amount,6)), title: "#{to_n(total_amount_fee,8)}/#{to_n(dr_btc_amount,8)} 差值: #{to_n(amount_diff,8)}" %>
      (<%= to_n(DealRecord.btc_level,1).to_i %>/<%= get_invest_params(5) %>%)
    </td>
    <td align="right"><%= to_n(total_cny_amount,1) if !params[:show_sell] %></td>
    <td align="right"><%= to_n(total_cny_amount_now,1) if !params[:show_sell] %></td>
    <td align="right"><%= show_net_value_link %></td>
    <td align="right">
      <% real_p_sec = DealRecord.real_profit_ave_sec %>
      <%= (real_p_sec*3600).to_i %>/时 <%= (real_p_sec*3600*24).to_i %>/日 <%= (real_p_sec*3600*24*30).to_i %>/月
    </td>
  </tr>
</table>
<br/>
<div id="func_link" style="width:<%=$default_table_width%>px;margin-bottom:2em">
  <%= update_btc_huobi_portfolios_link %>
  <%= link_to t(:update_deal_record), update_deal_records_path, { id: 'update_deal_records' } %>
  | <%= link_to t(:show_sell_deal_records), deal_records_path(show_sell:1) %>
  | <%= link_to t(:show_first_sell_deal_records), deal_records_path(show_first:1) %>
  | <%= link_to t(:trezor_records), deal_records_path(show_trezor:1) %>
  | <%= link_to t(:show_unsell_deal_records), deal_records_path(show_unsell:1) %>
  | <%= link_to t(:show_all_deal_records), deal_records_path(show_all:1) %>
  <% # link_to t(:zip_sell_deal_records), zip_sell_records_path %>
  <% # clear_deal_records_link %>
  <%
    if max_sell_count = get_invest_params(13).to_i and max_sell_count > 0 and DealRecord.unsell_count > 0
      sell_minute = get_invest_params(18).to_i
      sell_price = get_invest_params(27).to_i
      sell_sec = get_invest_params(22).to_i
      over_sell_time_sec = DealRecord.over_sell_time_sec
      if sell_price > 0
        show_sell_price = sell_price
      else
        show_sell_price = "#{sell_minute}分最高"
      end
      if over_sell_time_sec > 0
        show_sell = link_to raw(t(:send_stop_loss)+"(#{@get_max_sell_count}:#{@top_deal_record_profit}/#{@first_unsell_count}/#{@unsell_count})@<u>#{show_sell_price}</u> 每#{sell_sec/60}分"), send_stop_loss_path
      else
        show_sell = raw(t(:send_stop_loss)+"(#{@get_max_sell_count}:#{@top_deal_record_profit}/#{@first_unsell_count}/#{@unsell_count})@#{show_sell_price} 每#{sell_sec/60}分 剩#{over_sell_time_sec.abs/60}分")
      end
  %>
     | <%= show_sell %>
  <% end %>
</div>
<p/></p>
