<h2><%= t(:deal_record_index) %></h2>
<table>
  <tr class="thead">
    <td width="15"></td>
    <td><%= t(:deal_record_symbol) %></td>
    <td><%= t(:deal_record_deal_type) %></td>
    <td><%= t(:deal_record_price) %></td>
    <td><%= t(:deal_record_amount) %></td>
    <td><%= t(:deal_record_fees) %></td>
    <td><%= t(:deal_record_purpose) %></td>
    <td><%= t(:deal_record_earn_limit) %></td>
    <td><%= t(:deal_record_loss_limit) %></td>
    <td><%= t(:deal_record_auto_sell) %></td>
  </tr>
<% n = 1 %>
<% @deal_records.each do |deal_record| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(deal_record,deal_record.symbol.upcase) %></td>
    <td align="center"><%= show_deal_type(deal_record.deal_type) %></td>
    <td align="right"><%= to_n(deal_record.price) %></td>
    <td align="right"><%= to_n(deal_record.amount) %></td>
    <td align="right"><%= to_n(deal_record.fees) %></td>
    <td align="left"><%= deal_record.purpose %></td>
    <td align="right"><%= deal_record.earn_limit %></td>
    <td align="right"><%= deal_record.loss_limit %></td>
    <td align="center"><%= show_ok(deal_record.auto_sell) %></td>
  </tr>
  <% n += 1 %>
<% end %>
  <tr>
    <td colspan="10" class="thead"></td>
  </tr>
</table>
<br/>
<%= link_back_to_portfolios %>
| <%= link_to t(:new_deal_record), new_deal_record_path, { id: 'add_new_deal_record' } %>
