<h2><%= t(:currency_index) %></h2>

<table>
  <tr class="thead">
    <td width="15"></td>
    <td width="70"><%= t(:currency_name) %></td>
    <td width="40"><%= t(:currency_code) %></td>
    <td width="100"><%= t(:currency_exchange_rate) %></td>
    <td width="200"><%= t(:updated_time) %></td>
  </tr>
<% n = 1 %>
<% @currencies.each do |currency| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(currency) %></td>
    <td><%= currency.code %></td>
    <td align="right"><%= to_n(currency.exchange_rate, 8) %></td>
    <td align="right"><%= to_t(currency.updated_at) %></td>
  </tr>
  <% n += 1 %>
<% end %>
</table>
<br/>
<%= link_back_to_properties %>
| <%= link_to t(:new_currency), new_currency_path, { id: 'add_new_currency' } %>
