<%= render 'shared/error_messages', object: @property %>

<%= form_for(@property) do |f| %>
<table>
  <tr><td colspan="2" class="thead"><%= timestamps(@property) %></td></tr>
  <tr>
    <td><%= t(:property_name) %>：</td>
    <td><%= f.text_field(:name,size:40) %></td></tr>
  <tr>
    <td><%= t(:property_amount) %>：</td>
    <td><%= f.text_field(:amount, onclick: select_all) %></td>
  </tr>
  <tr>
    <td><%= t(:property_currency) %>：</td>
    <td><%= f.select :currency_id, Currency.all.collect { |c| [ c.name, c.id ] } %></td>
  </tr>
<% if admin? %>
  <tr>
    <td><%= t(:property_is_hidden) %>：</td>
    <td><%= f.check_box(:is_hidden) %></td>
  </tr>
  <tr>
    <td><%= t(:property_is_locked) %>：</td>
    <td><%= f.check_box(:is_locked) %></td>
  </tr>
  <tr>
    <td><%= t(:property_tag_list) %>：</td>
    <td><%= f.text_field(:tag_list,size:40,placeholder:'请用空格分开每一个标签') %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="2" align="right" class="tfoot">
      <%= f.submit( submit,id: submit_id) %></td></tr>
</table>
<% end %>
<br/>
<%= link_back_to_properties %>
<%= link_to_delete(@property) if admin? and !@property.locked? %>
