<table id="properties_table">
  <tr class="thead">
    <td width="3%"></td>
    <td width="31%"><%= t(:property_name) %></td>
    <td width="15%"><%= t(:property_amount) %></td>
    <td width="8%"><%= t(:property_currency) %></td>
    <td width="8%"><%= t(:rate_or_price) %></td>
    <td width="8%"><%= t(:exchange_to_twd) %></td>
    <td width="9%"><%= t(:exchange_to_cny) %></td>
    <td width="7%"><%= t(:property_lixi) %></td>
    <td width="6%"><%= t(:property_proportion) %></td>
    <td width="5%"><%= t(:chart) %></td>
  </tr>
<% n = 1 %>
<% amounts = amount_twds = amount_cnys = lixis = proportions = 0.0 %>
<% properties.each do |property| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(property,property.name,session[:path],title: property.tag_list) %></td>
  <% if property.item %>
    <td align="right"><%= link_to to_n(property.amount), edit_item_path(property.item,path:properties_path) %></td>
  <% else %>
    <td align="right"><%= render 'update_amount', property: property %></td>
  <% end %>
    <td align="center"><%= property.currency.name %></td>
    <td align="right"><%= property.currency.rate_or_price %></td>
    <td align="right"><%= amount_twd=to_n(property.amount_to,0) %></td>
    <td align="right"><%= amount_cny=to_n(property.amount_to(:cny),0) %></td>
    <td align="right"><%= lixi=property.lixi(:twd).to_i %></td>
    <td align="right"><%= proportion=to_n(property.proportion(admin?)) %></td>
    <td align="center"><%= chart_link(property) %></td>
  </tr>
  <% n += 1 %>
  <% amounts += property.amount %>
  <% amount_twds += amount_twd.to_i %>
  <% amount_cnys += amount_cny.to_i %>
  <% lixis += lixi %>
  <% proportions += proportion.to_f %>
<% end %>
<% if show_summary %>
  <%= show_summary_tr(10) %>
<% else %>
  <tr class="thead">
    <td colspan="2"></td>
    <td colspan="3" align="right"><%= to_amount(amounts,properties.last.currency.is_digital?) %>&nbsp;</td>
    <td align="right"><%= amount_twds.to_i %></td>
    <td align="right"><%= amount_cnys.to_i %></td>
    <td align="right"><%= lixis.to_i %></td>
    <td align="right" colspan="2"><%= to_n(proportions) %></td>
  </tr>
<% end %>
</table>
