<h2><%= t(:property_index) %></h2>

<table>
  <tr class="thead">
    <td width="5%"></td>
    <td width="70%"><%= t(:property_name) %></td>
    <td width="25%"><%= t(:property_amount) %></td>
  </tr>
<% n = 1 %>
<% @properties.each do |property| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(property) %></td>
    <td align="right"><%= to_n(property.amount) %></td>
  </tr>
  <% n += 1 %>
<% end %>
</table>
<p><%= link_to t(:new_property), new_property_path, { id: 'add_new_property' } %></p>
