<h2><%= t(:property_index) %></h2>

<table>
  <thead class="tr_head">
    <td width="75%"><%= t(:property_name) %></td>
    <td width="25%"><%= t(:property_amount) %></td>
  </thead>
<% @properties.each do |property| %>
  <tr>
    <td><%= link_to property.name, edit_property_path(property) %></td>
    <td align="right"><%= format('%.2f',property.amount.floor(2)) %></td>
  </tr>
<% end %>
</table>
