<h2><%= t(:property_index) %></h2>

<table>
  <tr class="thead">
    <td width="5%"></td>
    <td width="50%"><%= t(:property_name) %></td>
    <td width="20%"><%= t(:property_amount) %></td>
    <td width="10%"><%= t(:property_currency) %></td>
    <td width="15%"><%= t(:exchange_to_twd) %></td>
  </tr>
<% n = 1 %>
<% @properties.order(amount: :desc).each do |property| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(property) %></td>
    <td align="right"><%= to_n(property.amount) %></td>
    <td align="center"><%= property.currency.name %></td>
    <td align="right"><%= to_n(property.amount_to,0) %></td>
  </tr>
  <% n += 1 %>
<% end %>
  <tr>
    <td colspan="5" align="right" class="thead"><%= t(:total_properties_amount) %>：<span id="properties_net_value"><%= @properties_net_value.to_i %></span> <%= t(:twd) %></td>
  </tr>
</table>
<p><%= link_to t(:new_property), new_property_path, { id: 'add_new_property' } %></p>
