<h2><%= t(:property_index) %></h2>

<table>
  <tr class="thead">
    <td width="5%"></td>
    <td width="35%"><%= t(:property_name) %></td>
    <td width="20%"><%= t(:property_amount) %></td>
    <td width="8%"><%= t(:property_currency) %></td>
    <td width="15%"><%= t(:exchange_to_twd) %></td>
    <td width="10%"><%= t(:property_lixi) %></td>
    <td width="7%"><%= t(:property_proportion) %></td>
  </tr>
<% n = 1 %>
<% @properties.each do |property| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(property,property.name,title: property.tag_list) %></td>
  <% if property.item %>
    <td align="right"><%= link_to to_n(property.amount), edit_item_path(property.item,path:properties_path) %></td>
  <% else %>
    <td align="right"><%= render 'update_amount', property: property %></td>
  <% end %>
    <td align="center"><%= property.currency.name %></td>
    <td align="right"><%= to_n(property.amount_to,0) %></td>
    <td align="right"><%= property.lixi(:twd).to_i %></td>
    <td align="right"><%= to_n(property.proportion(admin?)) %></td>
  </tr>
  <% n += 1 %>
<% end %>
  <tr>
    <td colspan="7" class="thead">
      <%= t(:positive_property) %>：<%= @properties_value_twd.to_i %>&nbsp;&nbsp;
      <%= t(:negative_property) %>：<%= @properties_loan_twd.to_i %>&nbsp;&nbsp;
      <%= t(:lixi) %>：<%= @properties_lixi_twd.to_i %>&nbsp;&nbsp;
      <%= t(:total_properties_amount) %>：<span id="properties_net_value_twd"><%= @properties_net_value_twd.to_i %></span> (<span id="properties_net_value_cny"><%= @properties_net_value_cny.to_i %></span> <%= t(:cny) %>)&nbsp;&nbsp;
      <%= t(:increase_or_decrease) %>：<span id="net_growth_ave_month"><%= @properties_net_growth_ave_month.to_i %></span>/月
    </td>
  </tr>
</table>
<p><%= link_to t(:new_property), new_property_path, { id: 'add_new_property' } %></p>
