<h2><%= t(:property_index) %><%= portfolio_name %></h2>
<% if @properties and @properties.size > 0 %>
  <%= render 'properties_table', properties: @properties, show_summary: @show_summary %>
<% end %>
<p>
  <%= link_to t(:new_property), new_property_path, { id: 'add_new_property' } %> |
  <%= update_huobi_assets_link %>
</p>
