<h2><%= link_to t(:property_index), net_chart_path %><%= portfolio_name %></h2>
<% if @properties and @properties.size > 0 %>
  <%= render 'properties_table', properties: @properties, show_summary: @show_summary %>
<% end %>
<p>
  <%= link_to t(:new_property), new_property_path, { id: 'add_new_property' } %>
  | <%= update_btc_huobi_portfolios_link %>
</p>
