<%= render 'shared/error_messages', object: @interest %>

<%= form_for(@interest) do |f| %>
<table>
  <tr><td colspan="2" class="thead"><%= timestamps(@interest) %></td></tr>
  <tr>
    <td><%= t(:property_name) %>：</td>
    <td><%= select_property_id(f) %></td>
  </tr>
  <tr>
    <td><%= t(:interest_start_date) %>：</td>
    <td><%= f.text_field(:start_date, onclick: select_all) %></td>
  </tr>
  <tr>
    <td><%= t(:interest_rate) %>：</td>
    <td><%= f.text_field(:rate, onclick: select_all) %></td>
  </tr>
  <tr>
    <td colspan="2" align="right" class="tfoot">
      <%= f.submit( submit,id: submit_id) %>
    </td>
  </tr>
</table>
<% end %>
<br/>
<%= link_back_to_interests %>
<%= link_to_delete(@interest) %>
