<h2><%= t(:interest_index) %></h2>

<table>
  <tr class="thead">
    <td width="15"></td>
    <td><%= t(:property_name) %></td>
    <td width="100"><%= t(:interest_start_date) %></td>
    <td width="100"><%= t(:interest_rate) %></td>
    <td width="100"><%= t(:interest_amount) %></td>
    <td width="100"><%= t(:interest_currency) %></td>
    <td width="100"><%= t(:exchange_to_twd) %></td>
  </tr>
<% n = 1 %>
<% @interests.each do |interest| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(interest, interest.property.name) %></td>
    <td><%= interest.start_date.to_s(:db) %></td>
    <td align="right"><%= to_n(interest.rate, 2) %></td>
    <td align="right"><%= to_n(interest.amount, 0) %></td>
    <td align="right"><%= interest.currency_name %></td>
    <td align="right"><%= interest.amount_to(:twd) %></td>
  </tr>
  <% n += 1 %>
<% end %>
  <tr>
    <td colspan="7" class="thead"><%= t(:total_interests_amount) %>：<span id="interest_total_twd"><%= @interest_total_twd %></span> <%= t(:twd) %>
      (<span id="interest_total_cny"><%= @interest_total_cny %></span> <%= t(:cny) %>)</td>
  </tr>
</table>
<br/>
<%= link_back_to_properties %>
| <%= link_to t(:new_interest), new_interest_path, { id: 'add_new_interest' } %>
