<h2><%= t(:interest_index) %></h2>

<table>
  <tr class="thead">
    <td width="15"></td>
    <td><%= t(:property_name) %></td>
    <td width="100"><%= t(:interest_start_date) %></td>
    <td width="100"><%= t(:interest_rate) %></td>
  </tr>
<% n = 1 %>
<% @interests.each do |interest| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(interest, interest.property.name) %></td>
    <td><%= interest.start_date.to_s(:db) %></td>
    <td align="right"><%= to_n(interest.rate, 2) %></td>
  </tr>
  <% n += 1 %>
<% end %>
</table>
<p><%= link_to t(:new_interest), new_interest_path, { id: 'add_new_interest' } %></p>
