<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @interest.property %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @interest.start_date %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @interest.rate %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
