<h2><%= t(:item_index) %></h2>

<table width="<%=$default_table_width%>">
  <tr class="thead">
    <td width="15"></td>
    <td><%= t(:property_name) %></td>
    <td width="160"><%= t(:item_price) %></td>
    <td width="50"><%= t(:item_currency) %></td>
    <td width="160"><%= t(:item_amount) %></td>
    <td><%= t(:item_url) %></td>
    <td><%= t(:chart) %></td>
  </tr>
<% n = 1 %>
<% @items.each do |item| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= link_edit_to(item, item.property.name) %></td>
    <td align="right"><%= render 'update_price', item: item %></td>
    <td align="right"><%= item.property.currency.name %></td>
    <td align="right"><%= render 'update_amount', item: item %></td>
    <td align="right"><%= link_to show_long_text(item.url,30), item.url, {target: :blank} %></td>
    <td align="center"><%= chart_link(item) %></td>
  </tr>
  <% n += 1 %>
<% end %>
<%= show_summary_tr(7) %>
</table>
<br/>
<%= link_back_to_properties %>
| <%= link_to t(:new_item), new_item_path, { id: 'add_new_item' } %>
| <%= update_house_price_link %>
