<span id="site_title">
    <h1>
      <a href="<%= root_path %>"><%= site_logo %><%= site_name %></a>
      <%= link_to get_huobi_acc_id, $host2 %>
    </h1>
</span>
<%= render 'layouts/site_nav', id: 'site_nav' %>
