<span id="site_title">
  <a href="<%= root_path %>">
    <h1><%= site_logo %><%= site_name %></h1>
  </a>
</span>
<% if login? %>
  <nav id="site_nav">
    <small>
      <%= link_back_to_properties %> |
      <%= link_to t(:currency_index), currencies_path %> |
      <%= link_to t(:interest_index), interests_path %> |
      <%= link_to t(:logout), logout_path, { id: 'logout' } %>
    </small>
  </nav>
<% end %>
