<span id="site_title">
    <h1>
      <%= site_logo %>
      <%= link_to get_huobi_acc_id, $host2 %>
      <a href="<%= root_path %>"><%= site_name %></a>
      <%= $site_slogon %>
    </h1>
</span>
<%= render 'layouts/site_nav', id: 'site_nav' %>
