<span id="site_title">
  <a href="<%= root_path %>">
    <h2><%= site_logo %><%= site_name %></h2>
  </a>
</span>
<% if login? %>
  <nav>
    <small>
      <%= link_to t(:home), root_path %> |
      <%= link_to t(:logout), logout_path, { id: 'logout' } %>
    </small>
  </nav>
<% end %>
