<% if login? %>
  <div id="<%= id %>">
    <small>
      <%= link_back_to_trial_lists %> |
      <%= link_back_to_deal_records %> |
      <%= link_back_to_properties %> |
      <%= link_back_to_portfolios if admin? %><%= ' |' if admin? %>
      <%= rise_fall_list_link %> |
      <%= system_params_form_link %> |
      <%= huobi_assets_link %> |
      <%= order_link %> |
      <%= order_list_link %> |
      <%= link_back_to_currencies %> |
      <%= link_back_to_items %> |
      <%= link_back_to_interests %> |
      <%= set_auto_invest_form_link %> |
      <%= invest_log_link %> |
      <%= clear_invest_log_link %> |
      <%= update_btc_exchange_rates_link %> |
      <%= model_trade_link %> |
      <%= model_trade_single_link %> |
      <%= logout_link %>
    </small>
  </div>
<% end %>
