<% if login? %>
  <nav id="<%= id %>">
    <small>
      <%= link_back_to_properties %> |
      <% if admin? %>
        <%= link_to t(:portfolio_index), portfolios_path %> |
      <% end %>
      <%= link_to t(:currency_index), currencies_path %> |
      <%= link_to t(:item_index), items_path %> |
      <%= link_to t(:interest_index), interests_path %> |
      <% if admin? %>
        <%= link_to t(:record_index), records_path %> |
      <% end %>
      <%= update_all_data_link %> |
      <%= link_to t(:logout), logout_path, { id: 'logout' } %>
    </small>
  </nav>
<% end %>
