<!DOCTYPE html>
<html>
  <head>
    <title><%= get_huobi_acc_id+":"+site_name %></title>
    <% if @auto_refresh_sec and @auto_refresh_sec > 0 %>
    <meta http-equiv="refresh" content="<%=@auto_refresh_sec%>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'fusioncharts', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'fusioncharts.charts', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'fusioncharts.theme.fint', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' if !@no_header %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
